.sjTag h2 {margin-bottom:20px;}
.sjTag .donation {position:absolute; right:0; border:1px solid #999999; padding:5px; margin-right:15px;}

.sjTag .col_wrapper {clear:both; margin-right:20px;}
.sjTag .col_wrapper label {display:block; width:120px; float:left; margin-bottom:20px;}

.sjTag #sjTagTable input {width:100%;}

.sjTag .iris-picker {position:absolute; z-index:1000000; margin-left:-70px;}

.ui-spinner-up {top:0;}
.ui-spinner-button {cursor:default; display:block; font-size:0.5em; height:50%; margin:0; overflow:hidden; padding:0; position:absolute; right:0; text-align:center; width:16px;}
.ui-spinner .ui-icon {left:0; margin-top:-8px; position:absolute; top:50%;}
.ui-icon {height:16px; width:16px; background-repeat:no-repeat; display:block; overflow:hidden;}
.ui-spinner-button {cursor:default; font-size:0.5em; text-align:center;}
.ui-spinner {display:inline-block; overflow:hidden; padding:0; position:relative; vertical-align:middle;}
.ui-spinner-down {bottom:0;}

#sjTagPreview {clear:both; display:block; width:300px; border:1px solid #999999; padding:5px;}